* {
  margin: 0;
  padding: 0;
}

body {
  background: #e9ecf4;
  color: #000;
  font-family: "Roboto", sans-serif;
}

.contenedor {
  max-width: 1000px;
  margin: 20px auto;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, auto);
  grid-template-areas:
    "header header header"
    "contenido contenido sidebar"
    "bloque1 bloque2 sidebar"
    "footer footer footer";
}

.contenido {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
}

header {
  background: #ec9006;
  color: #fff;
  grid-area: header;
  padding: 20px;
  border-radius: 5px;
}

.contenido {
  grid-area: contenido;
}

.sidebar {
  background: #67db9e;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100px;
  grid-area: sidebar;
}

.bloque {
  color: #ffff;
  height: 100px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

#bloque1 {
  grid-area: bloque1;
  background: #55a8fd;
}

#bloque2 {
  grid-area: bloque2;
  background: #1f6ab6;
}

footer {
  background: #4a4d50;
  color: #fff;
  grid-area: footer;
  padding: 20px;
  border-radius: 5px;
}

@media screen and (max-width: 768px) {
  .contenedor {
    grid-template-areas:
      "header header header"
      "contenido contenido contenido"
      "sidebar sidebar sidebar"
      "bloque1 bloque1 bloque2 "
      "footer footer footer";
  }
}
