* {
  margin: 0;
  padding: 0;
}

body {
  background: #e9ecf4;
  color: #000;
  font-family: "Roboto", sans-serif;
}

.contenedor {
  max-width: 1000px;
  margin: 20px auto;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, auto);
  grid-template-areas:
    "header header header"
    "contenido contenido sidebar"
    "bloque-1 bloque-2 sidebar"
    "footer footer footer";
}

.contenedor div,
.contenedor .header,
.contenedor .contenido,
.contenedor .sidebar,
.contenedor .footer {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
}

.contenedor .header {
  background: #ec9006;
  color: #fff;
  grid-area: header;
}

.contenedor .contenido {
  grid-area: contenido;
}

.contenedor .sidebar {
  background: #67db9e;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100px;
  grid-area: sidebar;
}

.contenedor .bloque-1 {
  grid-area: bloque-1;
}

.contenedor .bloque-2 {
  grid-area: bloque-2;
}

.contenedor .bloque-1,
.contenedor .bloque-2 {
  background: #55a8fd;
  color: #ffff;
  height: 100px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.contenedor .footer {
  background: #4a4d50;
  color: #fff;
  grid-area: footer;
}

@media screen and (max-width: 768px) {
  .contenedor {
    grid-template-areas:
      "header header header"
      "contenido contenido contenido"
      "sidebar sidebar sidebar"
      "bloque-1 bloque-1 bloque-2 "
      "footer footer footer";
  }
}
